body {
  background: url(../img/contact-banner.jpg) no-repeat center -25px fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
}